<footer class="pied_de_page">

    <div class="container">
        <div class="row ">
            <div class="col-md-6">
                <div class="text-center horaire py-auto">
                    <div>
                        <img src="/images/logo_blanc.png">

                        <br>
                        <br>

                        <h5>HORAIRES D'OUVERTURE :</h5>
                        <span>Du dimanche au jeudi de 8h00=>12h00 / 13h00=>17h00</span>
                    </div>

                    <div class="container py-1 px-3">

                        <h5>NEWSLATTER</h5>
                        <h6 class="text-white">inscrivez vous maintenant en cliquant  </h6>
                        <h1 ><a href="#" class="text-white">ici</a></h1>

                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-4 pl-4">

                <div class="row p-0">

                    <ul>
                        <li>
                            <h4>INFORMATIONS</h4>
                        </li>
                        <li>
                            <table class="tab">
                                <tr>
                                    <td><i class="fas fa-map-marker-alt"></i></td>
                                    <td> 51, Cité Tebbal 06000 Béjaia- ALGERIE</td>
                                </tr>
                                <tr>
                                    <td><i class="fas fa-phone-alt"></i></td>
                                    <td> +213 (0)34 16 06 99</td>
                                </tr>
                                <tr>
                                    <td><i class="fas fa-fax"></i></td>
                                    <td> +213 (0)34 16 09 23</td>
                                </tr>
                                <tr>
                                    <td><i class="fas fa-at"></i></td>
                                    <td> infos@simafe.com</td>
                                </tr>
                            </table>
                        </li>


                    </ul>
                </div>
                <div class="row p-0">
                    <ul>
                        <li>
                            <h4>Suivez nous</h4>
                        </li>
                        <li>
                            <table class="tab">
                                <tr>
                                    <td><i class="fab fa-facebook-f"></i></td>
                                    <td> <a href="https://fr-fr.facebook.com/pages/category/Commercial---Industrial/Simafe-sarl-257151361135517/"
                                            target="_blank">Facebook</a></td>
                                </tr>
                                <tr>
                                    <td><i class="fab fa-linkedin-in"></i></td>
                                    <td> <a href="" target="_blank">LinkedIn</a></td>
                                </tr>
                                <tr>
                                    <td><i class="fab fa-youtube"></i></td>
                                    <td> <a href="" target="_blank">Youtube</a></td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 mt-4 pl-4">

                <div class="row p-0">
                    <ul>
                        <li>
                            <h4>Aide</h4>
                        </li>
                        <li><a href="">À propos de SIMAFE</a></li>
                        <li><a href="">Magasains</a></li>
                        <li><a href="{{path('recruitment')}}">Recrutements</a></li>
                        <li><a href="">Catalogue</a></li>
                        <li><a href="">Contactez nous</a></li>

                    </ul>
                </div>

            </div>

        </div>

    </div>

    <div style="width: 100%;padding: 10px 0; background-color: rgb(35,35,35);" class="text-center">
        <span>Copyright SIMAFE © {{ "now"|date("Y") }} . Tous droits réservés.</span>
    </div>

</footer>