body{
    font-family: 'Open Sans', sans-serif !important;
    color: rgb(65, 65, 66);
}

a{
    text-decoration: none !important;
    color: rgb(65, 65, 66);
}

a:hover{
    color: #007bff !important;
}

/*********** NAVBAR STYLE ***********/

.navbar-toggler{
    outline: none !important;
}

.nav-link{
    font-size: 17px;
    font-weight: 600;
}

.dropdown-item{
    background-color: transparent !important;
}

.nav-link:hover,.dropdown-item:hover{
    color: #007bff !important;
}

/*********** DASHBORD STYLE ***********/

.dashbord-item{
    border: 3px solid rgb(65, 65, 66);
    border-radius: 10px;
}

.dashbord-item i{
    font-size: 100px;
}

.dashbord-item:hover{
    border: 3px solid #007bff;
}

/*CATEGORY*/

.category{
    border: 1px solid rgb(65, 65, 66);
    border-radius: 10px;
}

.btnmdsup {
	box-shadow:none ! important;
	outline: none ! important ;
	font-size: 18px;
}

.btnmdsup:hover{
	color: #007bff;
}

.delete:hover{
	color: red !important;
}




.product:hover{
	box-shadow:  -1px 1px 24px -6px rgba(0,0,0,0.23)! important;
}


