body{
    font-family: 'Open Sans', sans-serif !important;
    color: rgb(65, 65, 66);
}

a{
    text-decoration: none !important;
    color: rgb(65, 65, 66);
}

a:hover{
    color: #007bff !important;
}

/*********** NAVBAR STYLE ***********/

.navbar-toggler{
    outline: none !important;
}

.nav-link{
    font-size: 17px;
    font-weight: 600;
}

.dropdown-item{
    background-color: transparent !important;
}

.nav-link:hover,.dropdown-item:hover{
    color: #007bff !important;
}

/*********** DASHBORD STYLE ***********/

.dashbord-item{
    border: 3px solid rgb(65, 65, 66);
    border-radius: 10px;
}

.dashbord-item i{
    font-size: 100px;
}

.dashbord-item:hover{
    border: 3px solid #007bff;
}

/*CATEGORY*/

.category{
    border: 1px solid rgb(65, 65, 66);
    border-radius: 10px;
}

.btnmdsup {
	box-shadow:none ! important;
	outline: none ! important ;
	font-size: 18px;
}

.btnmdsup:hover{
	color: #007bff;
}

.delete:hover{
	color: red !important;
}


/* CATEGORY PRODUCT LIST*/

.product{
	background-color: rgb(243, 243, 243);
}

.product:hover{
	box-shadow:  -1px 1px 24px -6px rgba(0,0,0,0.23)! important;
}

/*********** PRODUIT PAR MÉTIER ***********/
.single-works{
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease 0s;
	box-shadow: 5px 5px 15px black;
}

.single-works img{
	width: 100%;
	height:auto;
}

.single-works .title{
	font-size: 165%;
	font-weight: 800;
	color: tomato;
}

.overlay-text .post{
	display: block;
	font-weight: 600;
	font-size: 20px;
	color: white;
}

.single-works .overlay-text{
	width: 100%;
	height: 100%;
	font-size: 16px;
	color: white;
	background: rgba(0,0,0,0.6);
	text-align: center;
	padding-top: 20%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.6s ease 0s;
}

.single-works .overlay-text:before{
	border-left: 1px solid rgba(255,255,255,0.9);
	border-right: 1px solid rgba(255,255,255,0.9);
	left:30px;
	right: 30px;
}

.single-works .overlay-text:after{
	border-top: 1px solid rgba(255,255,255,0.9);
	border-bottom: 1px solid rgba(255,255,255,0.9);
	top:30px;
	bottom: 30px;
}

.single-works .overlay-text:before, .single-works .overlay-text:after{
	content: '';
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 20px;
	right: 20px;
	opacity: 0;
	z-index: 1;
	transform: scale(1.5);
	transition: all 0.6s ease 0.2s;
}

.single-works:hover{
	transform: translateY(-8px);
}

.single-works:hover .overlay-text{
	opacity: 1;
}

.single-works .overlay-text:before, .single-works .overlay-text:after{
	opacity: 1;
	transform: scale(1);
}


/*********** PRODUIT PRESENTATION ***********/

.product-title{
	background-color: tomato;
}

.product-title div{
	background-color: white;
}

.product-title div h4 {
	color: #007bff ;
	font-weight: 800;
}

/*********** FOOTER ***********/

.pied_de_page{
	background-color: rgb(65,65,66);
	color: white;
}

.horaire{
	width: 100%; 
	height: 452px;
	padding-top: 10%; 
	background-image: url('../images/horaires.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.pied_de_page ul{
	list-style-type: none;
	padding: 0px;
	margin-top: 10px;
}

.pied_de_page li{
	margin: 5px 0;
}

.pied_de_page li i{
	color: tomato;
}
.pied_de_page li a{
	text-decoration: none;
	color: white;
}

.tab td{
	padding-right: 10px;
}
.carousel{
	overflow: hidden;
}

.carousel a{
	width: auto;
	height: 40px;
	border-radius: 50%;
	padding: 10px;
	margin: auto 10px;
}
.carousel a:hover{
	background-color: rgba(0,0,0,0.5);

}















