{% extends 'base.html.twig' %}

{% block title %}Se désabonner{% endblock %}
{% block body %}
    <div class="container">
        <div class=" row m-3" >
            <div style="max-width: 500px;" class="bg-light mx-auto my-5 p-5 shadow-sm border border-secondary rounded">
                <h2 class="my-2 " style="font-weight: 500;">Nous sommes désolés de vous voir partir</h2>
                <p> Un délai de 10 jours peut être nécessaire pour traiter votre demande.</p>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" style="font-size: 16px;">Me désabonner</button>
                </div>
                {{ form_end(form) }}
            </div>  
        </div>
    </div>
{% endblock %}
